rder-bottom: 1px solid #eee;
}


/* Hide for mobile, show later */
.sidebar {
  display: none;
  top: 0;
}
@media (min-width: 768px) {
  .sidebar {
   

    left: 0;

    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    /*background-color: #f5f5f5;*/
  
  }
}






/*
 * Main content
 */






